<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>経過日数計算</title>
  <style>
  .header-container,
  .main-container,
  .footer-container {
    width: auto;
    max-width: 98%;
    margin: 0 auto;
  }

  * {
    box-sizing: border-box;
  }
  p {
    margin: 0;
  }
  .w100 {
    min-width: 100%;
    width: 100%;
  }
  .calendar {
    display: flex;
    flex-flow: row wrap;
  }
  .days-wrapper {
    display: flex;
    flex-flow: row wrap;
    max-width: 510px;
    margin: 1rem;
  }
  .week {
    font-weight: bold;
    background-color: #dddddd;
  }
  .day {
    width: calc(98% / 7);
    border: 1px solid #dddddd;
    text-align: center;
  }
  .day.is-today {
    border: 2px solid #cccc00;
  }
  .day-day {
    border-bottom: 1px solid #eeeeee;
    background-color: #eeeeee;
    font-weight: bold;
  }
  .day-diff {
    text-align: right;
    min-height: 4rem;
  }
  </style>
</head>
<body>
  <div id="app">
    <header>
      <div class="header-container">
        <p>経過日数計算</p>
      </div>
    </header>
    <main>
      <div class="main-container">
        <section>
          <div>
            <select v-model="year" @change="changeValue">
              <option value=""></option>
              <option v-for="y in years" :value="y">{{ y }}</option>
            </select>
            年
            <select v-model="month" @change="changeValue">
              <option value=""></option>
              <option v-for="m in months" :value="m">{{ m }}</option>
            </select>
            月
            <select v-model="day" @change="changeValue">
              <option value=""></option>
              <option v-for="d in days" :value="d">{{ d }}</option>
            </select>
            日
          </div>
          <div>
            <a :href="'#day-' + this.today">
              今日まで移動する
            </a>
          </div>
        </section>
        <section>
          <div class="calendar">
            <div class="month" v-for="(month, key) in calendar" :key="key">
              <div class="days-wrapper">
                <div class="w100">{{ month.str }}</div>
                <div
                  v-for="week in weeks"
                  :key="'month.key' + week"
                  class="day week"
                >
                  {{ week }}
                </div>
                <div v-for="wsd in month.weekStartDiff" class="day">
                  <div class="day-day">&nbsp;</div>
                  <div class="day-diff">&nbsp;</div>
                </div>
                <div
                  v-for="day in month.days"
                  :key="day.date"
                  class="day"
                  :class="{
                    'is-today': day.date === today
                  }"
                  :id="'day-' + day.date"
                >
                  <div class="day-day">{{ day.day }}</div>
                  <div class="day-diff" v-if="items[day.date]">
                    <p v-if="items[day.date]">{{ items[day.date].diffDays }}日</p>
                    <p v-if="items[day.date]" style="font-size:0.8rem;">{{ items[day.date].diffMonths }}ヶ月</p>
                  </div>
                  <div class="day-diff" v-else>&nbsp;</div>
                </div>
                <div v-for="wsd in month.weekEndDiff" class="day">
                  <div class="day-day">&nbsp;</div>
                  <div class="day-diff">&nbsp;</div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <small>
          &copy; 2019 rcanai
        </small>
      </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    var getUrlQueries = function () {
      var queryStr = window.location.search.slice(1);
      var queries = {};
      if (!queryStr) return queries;
      queryStr.split('&').forEach(function(queryStr) {
        var queryArr = queryStr.split('=');
        queries[queryArr[0]] = queryArr[1];
      });
      return queries;
    };

    var app = new Vue({
      el: '#app',
      data() {
        var queries = getUrlQueries()
        var _moment = moment()
        try {
          if (queries.date && moment(queries.date).isValid()) {
            _moment = moment(queries.date)
          }
        } catch  {}
        return  {
          today: moment().format('YYYY-MM-DD'),
          year: _moment.year(),
          month: _moment.month() + 1,
          day: _moment.date(),
          date: _moment.format('YYYY-MM-DD'),
          weeks: ['日', '月', '火', '水', '木', '金', '土']
        }
      },
      computed: {
        years () {
          var now = moment()
          var startYear = now.year() - 30
          return [...Array(31)].map((_, i) => startYear + i)
        },
        months () {
          return [...Array(12)].map((_, i) => i + 1)
        },
        days () {
          return [...Array(31)].map((_, i) => i + 1)
        },
        // 今年のカレンダー情報を作成
        items () {
          var _today = moment()
          var _selectedDate = moment(this.date)
          var _date = moment(this.date)
          var items = {}
          var endDate = _today.clone()
            .year(Number(_today.year()) + 3)
            .month(12 - 1)
            .date(31); // 3年後の年末まで
          while (_date.isBefore(endDate)) {
            var e = Number(_date.format('e'))
            var dateStr = _date.format('YYYY-MM-DD')
            items[dateStr] = {
              date: dateStr,
              str: _date.format('YYYY年MM月DD日'),
              weekNumber: e,
              weekStr: this.weekStr(e),
              diffMonths: _date.diff(_selectedDate, 'months'),
              diffDays: _date.diff(_selectedDate, 'days')
            }
            _date.add(1, 'days')
          }
          return items
        },
        // 今年分のカレンダー
        calendar () {
          const calendar = {}
          var _date = moment()
            .month(1 - 1)
            .date(1); // 今年の元旦
          for (var i = 0; i < 365; i++) {
            var ym = _date.format('YYYY-MM')
            var e = Number(_date.format('e'))
            var dateStr = _date.format('YYYY-MM-DD')
            if (calendar[ym] === undefined) {
              calendar[ym] = {
                str: _date.format('YYYY年 MM月'),
                month: Number(_date.month() + 1),
                weekStartDiff: Number(_date.format('e')), // 各月の開始曜日
                weekEndDiff: 6 - Number(_date.clone().endOf('month').format('e')), // 各月の開始曜日
                days: [],
              }
            }
            calendar[ym].days.push({
              date: dateStr,
              year: Number(_date.year()),
              month: Number(_date.month() + 1),
              day: Number(_date.date()),
              weekNumber: e,
              weekStr: this.weekStr(e)
            })
            _date.add(1, 'days')
          }
          return calendar
        }
      },
      methods: {
        changeValue () {
          const _moment = moment()
          if (this.year) _moment.year(this.year)
          if (this.month) _moment.month(this.month - 1)
          if (this.day) _moment.date(this.day)
          if (_moment.isValid()) {
            this.date = _moment.format('YYYY-MM-DD')
          }
        },
        weekStr (weekNumber) {
          return this.weeks[weekNumber]
        },
        setQuery () {
          window.history.replaceState(null, null, '?date=' + this.date);
        }
      },
      watch: {
        date: 'setQuery'
      }
    });
  </script>
</body>
</html>
